.wrapper {
    width:146px;
    margin: 0 auto;
}

#slider {
	width: 146px;
	height: 117px;
	overflow: hidden;
	margin: 30px auto;
}

#slider > img {
	width: 146px;
	height: 117px;
	float: left;
	display: hidden;
}

a {
	padding: 5px 10px;
	background-color: #F0F0F0;
	margin-top: 30px;
	text-decoration: none;
}

a.left {
	float: left;
}

a.right {
	float: right;
}